:root {
  --main-bg-color: rgb(237, 239, 240);
}
.img-container {
  background-color: var(--main-bg-color);
  margin-top: 0;
  padding-top: 0;
}
.img-portfolio {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  max-width: 15%;
}
.container {
  margin-top: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.contact-btn {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
